* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 1;
    padding: 0;
}

::placeholder {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-left: 25px;
}

.main {
    width: 1122px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main-text {
    flex: auto;
    width: 50%;
}

.main-image {
    flex: auto;
    width: 50%;
}

.main-text h1 {
    width: 370px;
    height: 120px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 149%;
    letter-spacing: -0.03em;
    color: #22343D;
}

.main-text p {
    padding: 24px 0px;
    width: 535px;
    height: 96px;
    left: 0px;
    top: 144px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.03em;
    color: #22343D;
}

.form-container {
    display: flex;
}

.submit-placeholder {
    width: 61%;
}

.submit-form {
    width: 272.33px;
    height: 66px;
    border: 1px solid #EAEAEA;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-left: 60px;
    padding-right: 20px;
}

.submit-btn {
    cursor: pointer;
    display: inline-block;
    width: 20%;
    height: 70px;
    line-height: 70px;
    background-color: #02897A;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.submit-btn:hover {
    background-color: #02891A;
}

.submit-btn p {
    color: #EAEAEA;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-left: 20px;
    margin-right: 10px;
    box-sizing: border-box;
}

.join-pic {
    display: flex;
}

.pic-container {
    position: relative;
    padding-top: 24px;
    display: flex;
    margin-left: 0px;
}

.submit-pic {
    position: absolute;
}

.pic-1 {
    width: 50px;
    height: 50px;
    background: url("images/people_1.png");
    background-size: contain;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 100px;
}

.pic-2 {
    width: 50px;
    height: 50px;
    background: url("images/people_2.png");
    background-size: contain;
    opacity: 1;
    position: relative;
    top: 0px;
    left: -10px;
    border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 100px;
}

.pic-3 {
    width: 50px;
    height: 50px;
    background: url("images/people_3.png");
    background-size: contain;
    opacity: 1;
    position: relative;
    top: 0px;
    left: -20px;
    border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 100px;
}

.join-pic p {
    height: 50px;
    line-height: 50px;
    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
}

.join-pic span {
    color: #02897A;
}

.img-1 {
    width: 100%;
}

.img-2 {
    display: none;
}

/* ================================== */
a {
    text-decoration: none;
}

/* css navbar */
header {
    background: #FFFFFF;
    color: rgb(24, 180, 219);
    padding-top: 10px;
    min-height: 70px;
}

header h1 {
    float: left;
    padding-left: 70px;
    margin: 5px;
    color: #22343D;
}

header nav {
    float: right;
    margin-top: 15px;

}

header li {
    color: #22343D;
    float: left;
    display: inline;
    padding: 0 20px 0 20px;

}

header a {
    color: #22343D;
    text-decoration: none;
    text-transform: unset;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

ul {
    margin: 0;
    padding: 0;
    padding-right: 15px;
}

header #Product,
header .active a {
    color: #fff;
    font-weight: bold;
}

header a:hover {
    color: #22343D;
    font-weight: bold;
}

/* css section latest stories */

.content {
    color: #22343D;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

}

.content h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    margin-bottom: 8px;
    padding: 2px;
}

.content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 2px;
}

.content .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.container p {
    text-align: left;
}

.card {
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 28%;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}

.user {
    display: flex;
    margin-top: auto;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}

.btn-wrapper {
    margin: 23px 0;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 100px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.btn-contact {
    border-radius: 30px;
    width: 30%;
    padding: 0.5rem 1rem;
    background-color: #02897A;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.btn:hover {
    opacity: 1;
}

.more {
    background-color: #02897A;
}

.far {
    margin-left: 8px;
}

/* css contact us */

copy-container {
    text-align: center;
}

.copy-container h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 57px;
    /* identical to box height, or 168% */

    text-align: center;
    letter-spacing: 0.2px;

    margin-top: 116px;
    margin-bottom: 17px;
    color: #22343D;
}

.copy-container p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
    margin-bottom: 54px;
}

.copy-container p img {
    width: 70%;

}

.contact-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.contact-box {
    border-radius: 30px;
    max-width: 850px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.center {
    padding: 25px 40px;
}

.field {
    border-radius: 30px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 32px;
}

/* css footer */
footer {
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.bagi {
    display: flex;
}

.resource {
    padding: 0 50px;
    width: 20%;
}

.legal {
    padding: 0 50px;
    width: 30%;
}

.btn-footer {
    padding: 0 50px;
    width: 40%;
}

.contact-submit {
    display: block;
    background-color: #02897A;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    color: white;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.btn-footer .text-field {
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 24px;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}