body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Helvetica;
    background-color: #f4f4f4;
}
.container{
    width: 80px;
    margin: auto;
    overflow: hidden;
}
header{
    background: #f4f4f4;
    color: rgb(24, 180, 219);
    padding-top: 10px;
    min-height: 70px;
}
header h1{
    float: left;
    padding-left: 70px;
    margin: 5px;
    color: teal;
}
header nav {
    float: right;
    margin-top: 15px;

}
header li{
    color: teal;
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  
}
header a{
    color: teal;
    text-decoration: none;
    text-transform: unset;
    font-size: 17px;
     color: teal;
}
ul{
    margin: 0;
    padding: 0;
    padding-right: 15px;
}
header #Product, header .active a{
    color: #fff;
    font-weight: bold   ;
}
header a:hover{
    color:  rgb(157, 255, 0);
    font-weight: bold;
}

@media all and (max-width: 1000px) {
  
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
}